<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	<link rel="stylesheet" th:href="@{/css/style.css}" />

	<title th:text="${title}"></title>
</head>

<body>

	<!--This is Navbar-->

	<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
		<div class="container-fluid">

			<a class="navbar-brand" href="#">SmartLink</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
					</li>


					<li class="nav-item">
						<a class="nav-link" th:href="@{/user/profile}"><span th:text="${user.name}"></span></a>
					</li>


					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}">Logout</a>
					</li>

				</ul>

			</div>
		</div>
	</nav>

	<!--End of Navbar-->



	<!--Side Bar-->

	<div class="sidebar mt-2">

		<span class="crossBtn" onclick="toogleSidebar()">&times;</span>

		<a th:href="@{/user/index}" class="item"> <i class="fa fa-home"></i> Home</a>
		<a th:href="@{/user/show-contacts/0}" class="item"> <i class="fa fa-id-card"></i> View Contacts</a>
		<a th:href="@{/user/addcontact}" class="item"> <i class="fa fa-pencil"></i> Add Contacts</a>
		<a th:href="@{/user/profile}" class="item"> <i class="fa fa-user-circle"></i> Your Profile</a>
		<a href="#" class="item"> <i class="fa fa-gear"></i> Settings</a>
		<a th:href="@{/logout}" class="item"> <i class="fa fa-sign-out"></i> Logout</a>
		<div class="divider"></div>

	</div>

	<!--End of Side Bar-->



	<!--Content Area-->

	<div class="content mt-5">

		<i class="fa fa-bars m-3" onclick="toogleSidebar()"></i>

		<div th:if="${session.message}" class="container" style="width:81%">

			<div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">

				<span th:text="${session.message.content}"></span>

			</div>

			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

		</div>

		<div th:replace="${content}"></div>

	</div>

	<!--End of Content Area-->



	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		function deleteContact(cid) {
			Swal.fire({
				title: "Are you sure?",
				text: "You want to delete this contact!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, delete it!"
			}).then((result) => {
				if (result.isConfirmed) {
					window.location = "/user/delete/" + cid;
				}
				else {
					Swal.fire("Your contact is safe", "", "info");
				}
			});
		}
	</script>

	<script th:src="@{/js/main.js}"></script>
</body>

</html>