<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>

<body>
	<section class="banner">
		<div class="text-center">
			<h2 class="font-weight-bold">SmartLink</h2>
			<p>"Streamline your contacts and communication with our intuitive contact manager software. Organize,
				connect, and collaborate effortlessly with our user-friendly interface."</p>
				
				<button class="btn btn-lg bg-primary text-white">Get Started</buttontype>
		</div>

	</section>
</body>

</html>